.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-select {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select {
  height: 32px;
  padding: 5px;
  border: 1px solid #455544a1;
  outline: none;
}

.h-32 {
  height: 32px;
}
